Source: doorbell
Section: misc
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 12), libpq-dev
Standards-Version: 4.1.4

Package: doorbell
Architecture: any
Depends: arduino-mux, ${misc:Depends}, ${shlibs:Depends}
Description: Doorbell press database manager
 Processes doorbell button presses from arduino-mux message queue and
 stores them in a database.

Package: doorbell-dbg
Architecture: any
Depends: doorbell (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for doorbell
 This package contains the debugging symbols for doorbell

Package: doorbell-python3
Architecture: any
Depends: ${misc:Depends}, python3 (>= 3.8.2), python3-daemon (>= 2.0.5), python3-pygresql (>= 1:4.0)
Description: Doorbell press notifier
 Processes doorbell button presses from a database and calls a notification script.
